*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:linear-gradient(135deg,#071E3D,#1F4287,#278EA5);
color:white;
overflow-x:hidden;
}

/* Fondo */

.particles{
position:fixed;
width:100%;
height:100%;
left:0;
top:0;
background:
radial-gradient(circle at 20% 20%,rgba(255,255,255,.15) 2px,transparent 3px),
radial-gradient(circle at 70% 40%,rgba(255,255,255,.12) 2px,transparent 3px),
radial-gradient(circle at 40% 80%,rgba(255,255,255,.10) 2px,transparent 3px);
background-size:180px 180px;
z-index:-2;
animation:mover 25s linear infinite;
}

@keyframes mover{

from{
background-position:0 0;
}

to{
background-position:0 1000px;
}

}

/* HERO */

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:30px;
}

.hero h1{
font-family:'Great Vibes',cursive;
font-size:80px;
margin-bottom:20px;
}

.hero p{
font-size:23px;
max-width:700px;
line-height:1.8;
}

#play{
margin-top:40px;
padding:16px 35px;
border:none;
border-radius:50px;
background:#4db8ff;
color:white;
font-size:18px;
cursor:pointer;
transition:.3s;
}

#play:hover{
transform:scale(1.05);
}

/* TITULOS */

section{
padding:90px 10%;
}

h2{
text-align:center;
font-size:45px;
margin-bottom:35px;
font-family:'Great Vibes',cursive;
}

/* MENSAJE */

.mensaje p{
max-width:900px;
margin:auto;
text-align:center;
line-height:2;
font-size:20px;
}

/* GALERIA */

.galeria{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:25px;

}

.galeria img{

width:100%;

height:380px;

object-fit:cover;

border-radius:20px;

cursor:pointer;

transition:.4s;

box-shadow:0 15px 35px rgba(0,0,0,.35);

}

.galeria img:hover{

transform:scale(1.05);

}

/* MAPA */

.mapa{

display:block;

margin:auto;

width:90%;

max-width:850px;

border-radius:20px;

box-shadow:0 20px 45px rgba(0,0,0,.35);

}

section p{

text-align:center;

font-size:20px;

line-height:2;

margin-top:25px;

}

/* CARTA */

.papel{

background:white;

color:#333;

padding:40px;

border-radius:20px;

max-width:900px;

margin:auto;

box-shadow:0 20px 50px rgba(0,0,0,.3);

}

.papel p{

font-size:21px;

line-height:2;

}

/* FOOTER */

footer{

padding:100px 20px;

text-align:center;

}

footer h2{

font-size:65px;

}

/* RESPONSIVE */

@media(max-width:768px){

.hero h1{

font-size:55px;

}

.hero p{

font-size:18px;

}

h2{

font-size:36px;

}

.galeria img{

height:280px;

}

footer h2{

font-size:42px;

}

}